 body {
     margin: 0px;
     background-color: #e8e8e8;
 }
 .job-name {
     color: #333333;
 }
 .company-name {
     color: #0061cf;
 }
 .project-name {
     color: #0061cf;
 }
 .school-name {
     color: #0061cf;
 }
 .description {
     font-style: italic;
     color: #333333;
 }
 .date {
     color: #333333;
 }
 .progress-skills {
     background-color: #0061cf
 }
 .img-fluid {
   width: 100%;
   height: 100%;
 }
 .photo {
     width: 40%;
     height: 40%;
 }
 /** icon links color **/
 .fa {
     color: #0061cf;
 }
 .link {
     color: #333333;
 }
/** color of company name, school name, and project name headers */
 h4 {
     font-color: #0061cf;
 }

 /** adds shadow to boxes **/
 div.card {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .myContainer {
     margin-top: 15px;
 }
