/* Universal */

* {
  box-sizing: border-box;
  border: none;
  background-color: burlywood;
}
body {
  margin: 10px auto;
  max-width: 1030px;
}
h3 {
  text-align: center;
  color: brown;
  display: block;
  height: 20px;
  line-height: 20px;
  margin: 0px;
  margin-bottom: -5px;
}
h4 {
  text-align: center;
  color: steelblue;
  text-shadow: 1px 1px antiquewhite;
  margin: auto;
}
.err {
  color: brown;
  display: none;
  text-align: center;
}
#pages {
  margin: 0px;
  padding: 0px;
}
.page {
  display: block;
  width: 100%;
  margin: 0px;
  margin-top: -5px;
  padding: 0px;
}

/* Chat Page */
#chat {
  max-width: 1030px;
  display: none;
  border-radius: 5px;
}
#logout {
  text-align: right;
  float: right;
  color: brown;
  margin-right: 5px;
  font-style: italic;
}
#logout a {
  color: antiquewhite;
  font-style: normal;
}
#chatArea {
  min-height: 50px;
  width: 100%;
  max-width: 1030px;
  top: 71px;
  bottom: 61px;
  padding: 5px 0px 2px 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  clear: both;
  margin: 3px auto;
  background-color: white;
  -moz-box-shadow: 0 0 10px white;
  -webkit-box-shadow: 0 0 10px white;
  box-shadow: 0px 0px 10px white;
}
#uInput {
  width: 100%;
  max-width: 1030px;
  font-size: 120%;
  position: fixed;
  bottom: 0;
  display: block;
  margin-top: 4px;
  border: 2px solid white;
  background-color: white;
  -moz-box-shadow: 0 0 10px white;
  -webkit-box-shadow: 0 0 10px white;
  box-shadow: 0px 0px 10px white;
}
.page li {
  width: auto;
  max-width: 100%;
  word-wrap: break-word;
  list-style-type: none;
  clear: both;
  font-size: 120%;
}
.name {
  color: gray;
  background-color: inherit;
  margin-top: inherit;
}
.my {
  float: right;
  margin-right: 10px;
}
.other {
  float: left;
  margin-left: -28px
}
.log {
  text-align: center;
  color: gray;
  background-color: inherit;
  margin-left: -10px;
}
.message {
  border: none;
  border-radius: 3px;
  padding: 4px 6px;
  font-size: 105%;
  margin: 0px 20px;
  background-color: inherit;
}
.otherMessages {
  float: left;
  background-color: burlywood;
  color: brown;
  text-align: left;
  margin-left: -40px;
}
.myMessages {
  float: right;
  background-color: brown;
  color: burlywood;
  text-align: right;
  margin-right: 20px;
}

#userCount {
  float: left;
  width: 10%;
  max-width: 105px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;

  font-size: 120%;
  border-radius: 3px;
  background-color: brown;
  color: burlywood;
}
#messageInput {
  width: 90%;
  max-width: 925px;
  border-radius: 3px;
  height: 60px;
  -webkit-appearance: textfield;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  padding: 10px 10px;
  text-align: left;
  font-family: serif;
  font-size: 120%;
  background-color: white;
}

/* Login Page */
#login {
  display: block;
  width: 170px;
  margin: 15px auto;
}
#loginBox {
  padding: 10px;
  margin: auto 0px auto auto;
  display: block;
}
.field { /* Applies to both Login and Register Pages */
  height: 30px;
  width: 150px;
  border-radius: 5px;
  display: block;
  margin: 0px auto 4px auto;
  padding: 5px;
  font-family: serif;
  font-size: 110%;
  background-color: white;
}
.loginButton {
  height: 25px;
  width: 73px;
  border-radius: 5px;
  display: inline-block;
  padding 5px;
  margin: 0px auto 4px auto;
  background-color: steelblue;
  color: aliceblue;
  font-family: serif;
  font-size: 100%;
}

/* Registration Page */
#register {
  display: none;
  width: 170px;
  margin: 15px auto;
}
#registerBox {
  padding: 10px;
  margin: auto;
}

